services:
  mariadb:
    container_name: mariadb
    image: mariadb
    networks:
      - inception  #seuls les conteneurs de ce reseaux peuvent se voir
    build:
      context: ./requirements/mariadb #localisation du Dockerfile
    env_file: .env        #localisation du fichier d'environnement
    secrets:
      - sql_password
      - sql_root_password
    volumes:
      - mariadb:/var/lib/mysql
    restart: unless-stopped  #redemarre tant qu'il n'est pas stoppe
    expose:
      - "3306"
    healthcheck:
      # test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      # test: ["CMD", "mariadb-admin", "ping", "-h", "localhost", "--password=$SQL_ROOT_PASSWORD"]
      # la commande CMD permet a Docker d'executer le programme mariadb directement 
      # la commande CMD-SHELL permet de lancer le programme par l'intermediaire d'un terminal qui va chercher le mdp
      test: ["CMD-SHELL", "mariadb-admin ping -h localhost -u root -p$(cat /run/secrets/sql_root_password)"]
      timeout: 20s
      retries: 10

  nginx:
    container_name: nginx
    image: nginx
    networks:
      - inception  
    depends_on:
      - wordpress
    build:
      context: ./requirements/nginx
      args:
        - DOMAIN_NAME=${DOMAIN_NAME}
    env_file: .env    
    volumes:
      - wordpress:/var/www/wordpress
    restart: on-failure
    ports:
      - "443:443" #ouvre le port 443 sur l'adresse IP de la VM et le relie au port 443 du conteneur"

  wordpress:
    container_name: wordpress
    image: wordpress
    networks:
      - inception  
    depends_on:
        mariadb:
          condition: service_healthy
    build:
      context: ./requirements/wordpress
    env_file: .env 
    secrets:
      - sql_password
      - wp_admin_password
      - wp_password
    volumes:
      - wordpress:/var/www/wordpress
    restart: on-failure  #redemarre si crash
    expose:
      - "9000" #port expose aux autres conteneurs de ce reseau virtuel"

volumes:
  wordpress:
    name: wordpress
    driver: local  #stockage local sur le pc, pas dans le cloud ou ailleurs
    driver_opts:
      type: 'none'
      o: 'bind'     #indique a docker de faire un bind mount ie de relier le dossier de l'hote (device) a un chemin dans le conteneur
      device: '/home/$LOGIN/data/wordpress' #chemin exact ou va etre stocke la donne du conteneur
  mariadb:
    name: mariadb
    driver: local
    driver_opts:
      type: 'none' # specifique a bind; si pas de bind, ca indique ou tocker les fichiers (tmpfs = sur la RAM, nfs = sur le reseau NFS ie sur machine du reseau linux, cifs = pour partage windows)
      o: 'bind' # si tmpfs, on peut limiter la tailledu volume de ram, si nfs ou cifs, adresse ip du serveur distant...
      device: '/home/$LOGIN/data/mariadb' #si on etait dans nfc ou cifs, ce serait le chemin du dossier sur serveur distant

networks:
  inception:
    name: inception
    driver: bridge

secrets:
  sql_password:
    file: ../secrets/sql_password.txt
  sql_root_password:
    file: ../secrets/sql_root_password.txt
  wp_password:
    file: ../secrets/wp_password.txt
  wp_admin_password:
    file: ../secrets/wp_admin_password.txt